@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #051221;
}
body::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(167, 186, 209, 0.5);
}
